/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    background-color: aqua;
}

.calculator{
    background-color: white;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
} */